@model IEnumerable<RezerwacjaBiletow.Models.Ticket>

@{
    ViewBag.Title = "Moje bilety";
}

<h2>Moje bilety</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.Date)
        </th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.Event.Title).ToHtmlString(), "Details", new { id = item.Id })
       
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Date)
        </td>
    </tr>
}

</table>
